<html> 
 <head> 
   <title>Security Camera</title> 
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
 </head> 
 <body> 
   <h1 class= "text-center"> Live from the Office </h1> 
   <div class="container">
		<div class="form-group">
			<label>Username</label>
			<input class="form-control" id="username" placeholder="Enter username">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" id="password" placeholder="Password">
		</div>
		<button id="login" class="btn btn-primary">Login</button>
	</div>
   <script>
   		$("#login").click(function() {
  			var encrypted = CryptoJS.AES.encrypt($("#password").val(), $("#username").val());
  			var decrypted = CryptoJS.AES.decrypt(encrypted, $("#username").val());
  			//alert(encrypted);
  			//alert(decrypted.toString(CryptoJS.enc.Utf8));
  			$.post( "/login", { hashInput: encrypted.toString() } );


		});
   </script>
 </body> 
</html> 